<h2>Create a new drone</h2>

<form action="/drones/create" method='POST'>
    <input type="text" name="name" placeholder="Drone Name">
    <input type="number" name="propellers" placeholder="Propellers">
    <input type="number" name="maxSpeed" placeholder="Max Speed">

    <button type='submit'>Create</button>
</form>